{% extends "base.html" %} {% block content %}
<div class="p-5 flex justify-center">
  <ul class="flex flex-wrap justify-center">
    {% for doc in documents %}
    <li class="m-3">
      <a href="{{ url_for('get_blob_from_storage', dest='documents', document_id=doc.id) }}" target="_blank">
        <img
        src="{{ doc.thumbnail.link }}"
        class="object-cover h-96 w-96 hover:object-scale-down object-top"
        />
      </a>
      <div class="px-4 py-1 flex justify-between ">
        <div>
          <p class="text-sm font-medium text-gray-900 truncate">
            {{ doc.title }}
          </p>
        </div>
        <div>
          <p class="text-xs text-gray-500"> {{ doc.updated_at.strftime('%Y-%m-%d') }} </p>
        </div>
      </div>
      <div class="float-right">
        {% for tag in doc.tags %}
        <span
          class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs text-gray-500 mx-1"
        >
          #{{ tag }}
        </span>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
